.strip1{
    padding-left: 200px;
    margin-top: 0;
}

.strip-img{
    width: 40px;
    height: 30px;
    padding: 0;
    margin: 0;
}
.start-order-box{
    display: flex;
    background-color: #202124;
    height: 55px;
    padding-top: 160px;
    justify-content: center;

}
.order-text{
    color: white;
    font-size: 16px;
    font-weight: 800;
    
}
start-order-box{
    display: flex;
    height: 45px;
}
.start-order{
    display: flex;
    display: inline-block;

}
.banner{
    margin-bottom: -9px;
}
.banner-img{
    width: 100%;
    margin-bottom: 0;
}
.start-order-btn{
    background-color: #e4002b;
    height: 45px;
    border-radius: 40px;
    width: 170px;
    border-color: #e4002b;
    color: white;
    font-weight: 600;
    
}
.pastorder{
    display: flex;
    background-color: #e4002b;
    width: 200px;
    margin-bottom: 0;
    
}

.pastorder-stripes{
    width: 40px;
    height: 20px;
    background: repeating-linear-gradient(90deg,#e4002b,#e4002b 8px,#fff 0,#fff 16px);
}
.welcome{
    display: flex;
    flex-direction: row;
    background-color: #f8f7f5;
    height: 130px;
    font-family: "National 2 Condensed";
    font-size: 30px;
    font-weight: 700;
    margin-top: -30px;
    padding-left: 150px;
}
.welcome-note{
    font-weight: 800;
    color: #202124;
    font-size: 40px;
    font-size-adjust: 50px 100px;
    margin-top: 40px;

}
.browse-catogory{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 250px;
    margin-top: 100px;
    height: 80px;
    width: 500px;
   
    background-color: #ffffff;

}
.left-catagory{
    margin-bottom: 30pxgi
}
.boarder{
    position:absolute;
    border-color: rgb(0, 0, 0);
    height: 20px;
    width: 720px;
    margin-left: 365px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid rgba(157, 157, 157,0.750);
    
}
.welcome-text{
    font-size: 30px;
    font-family: National 2 Condensed;
    color: rgb(41, 41, 41);
    margin-left: 20px;
   
}
.heading{
    border-color: #e4002b;
}
.menu-grid1{
    margin-left: 270px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px ;
    column-gap: 25px;
    margin-bottom: 25px;
}

.img-card{
    display: grid;
    grid-template-rows: 100px;
    width: 270px;
}
.img-card8{
    display: grid;
    grid-template-rows: 100px;
    width: 220px;
    margin-left: 25px;
}
.menu-grid2{
    margin-left: 270px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px ;
    column-gap: 20px;
    row-gap: 40px;
}
.card-info{
    height: 60px;
    background-color: #f8f7f5;
    padding-top: 20px;
}
.Description{
    text-align: center;
}
.bars{
 
    background-color: chocolate;
}
.one .two .three{
    background-color: #e4002b;
    width: 20px;
    height: 40px;
    
}
.cards8{
    margin-top: 67px;
}

/* ------BOTTOM PAGE------ */

.black-box{
    display: inline-block;
    width: 100%;
    height: 900px;
    background-color: #212529;
    margin-top: 100px                                                                                                                                                                    ;

}
.strip2{
    margin-left: 220px;
}                                                                                                                           
.offers-deals{
    display: flex;
    align-items: center;
    margin-left: 250px;                                                                                                                                                                                             
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 45PX;
}
.offers-deals-text{
    color: white;
    font-size: 35px;
    
}
.view-all-deals{
    color: white;
}
.bottom-cards{
    display: flex;
    flex-direction: row;
    margin-left: 280px;
    
   

}
.offer-cards{
    width: 350px;
    
}
.offer-img{
    width: 300px;
    border-radius: 8px 8px 0 0;
    
}
.view-details{
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 270px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -5PX;
    padding-left: 15px;
    padding-right: 15px;
    
}
.texts1{
    text-align: center;
    color: #e4002b;
    font-family: url(fonts/Roboto-Bold.ttf);
    font-weight: 800;
    font-size: 25px;
    
}
.texts2{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #202124;
}
.viewbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.view-clik{
    text-decoration: underline;
}
.radeem-btn{
    padding: 10px 40px;
    border-radius: 20px;
    background-color: white;
}
.footer{
    display: flex;
    margin-top: 200px;
    padding-bottom: 100px;
    background-color: #212529;
}
.kfc-footer-logo{
    padding-left: 110px;
    padding-right: 70px;

}
li{
    list-style-type: none;
    cursor: pointer;
    color: #e3e3e3;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
}
ul{
    
}
.google{
    width: 120px;
    margin-right: 25px;
}
.apple{
    width: 120px;
}
.find-kfc{
    cursor: pointer;
    color: #e3e3e3;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
}
.location-logo1{
    width: 11px;
    height: 30px;
    margin-right: 8px;
}
.column5{
    margin-right: 90px;
}
.column6{
    
    display: flex;
    flex-direction: row;
    margin-right: 90px;
    width: 100px;

}
.footer2{
    display: flex;
    flex-direction: row;
    background-color: #212529;
    
}
.footer-text{
    padding-left: 550px;
    padding-right: 400px;
    font-size: 12px;
    font-weight: 600;
    color: #e3e3e3;

}

.social-media-logos{
    width: 100px;
    padding-bottom: 19px;
}